

<!-- {% extends 'home/base.html' %}
{% block head %}
{% endblock head %}
{% block content %}
{% include 'include/navbar.html' %}
{% include 'include/alert.html' %}

<div class="text-center mt-3">
    <h5>'<b>क्विक बिलिंग</b>' मध्ये आपले सहर्ष स्वागत  आहे. <br></h5>
</div>

<br><br>
<div class="container text-center">
    <a href="/login/" class="btn btn-primary">Login</a>
</div>






<style>
    .footer{
        margin-top: auto;
        margin-bottom: 0px;
        position: absolute;
        bottom: 0;
        left: 0;
        right: 0;
        h6{
            font-weight: 700;
        }
    }
</style>
<div class="container my-5 footer">
    <h6>अधिक माहितीसाठी संपर्क </h6>
    <h6>सुनील काळे , करमाळा </h6>
    <h6>मोबाईल - 9730991252 </h6>
    <h6>ईमेल  - sunilkale101@gmail.com</h6>
</div>



{% endblock content %} -->